<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading"></h1>
    <p class="lead">Thank you for shopping with us.
    your order has been processed.<br />
    A detailed email has been sent.<br />
    </p>
    <p class="lead">
        <a href="/gallery/index" class="btn btn-lg btn-success">Continue Shopping</a>
    </p>
</main>
</div>